.background-Content{
	padding: 0px 15px 15px 15px;
	border: 2px solid black;
	background-color:#222222;
	width: 550px;
	height:400px;
	overflow: scroll;

}
h3{
color: white;
font-size: 35px;
}

p{
	color: white;
	font-size: 20px;
}


.background-Image{
	width: 550px;
	border: 2px solid;
	height:400px;

}
.background-box{
	display: table;
}